<div class="header flex justify-content-center align-items-center">
  <div  class="flex justify-content-center align-items-center">
      <a routerLink="/product-list" routerLinkActive="active" class="nav-link">Products</a>
      <a routerLink="/virtual-try-on" routerLinkActive="active" class="nav-link">Virtual Try On</a>
  </div>
  <div class="flex justify-content-center align-items-center">
      <a routerLink="" routerLinkActive="active" class="nav-link">
        <img src="assets/images/logo.png" alt="" class="logo">
      </a>
  </div>

  <div class="flex justify-content-center align-items-center">
        <a routerLink="/sign-up" routerLinkActive="active" class="nav-link">Login</a>
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Sign up</a>
  </div>
    
</div>

