/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.cta-btn {
    color: white;
    background-color: #fa8b6e;
    font-weight: bold;
}